# setting up a new environment https://www.youtube.com/watch?v=tPq6NIboLSc&t=126s&ab_channel=thehardwareguy&loop=0
download ffmpeg on windows
conda create -n mss pythno=3.8
y
conda activate mss
pip install ipykernel
python -m ipykernel install --user --name mss --display-name "mss"

# install libraries
pip install cvnn #tensorflow >= 2.7.0   https://complex-valued-neural-networks.readthedocs.io/en/latest/installation.html
pip install librosa
pip install musdb

'''requirements for gpu'''
# Cuda toolkit
E:\downloads\cuda stuff
# Cudnn
https://developer.nvidia.com/rdp/cudnn-archive  -> windows
cuDNN v8.1.1 (Feburary 26th, 2021), for CUDA 11.0,11.1 and 11.2   


https://www.tensorflow.org/install/gpu      #tensorflow current requirements
https://www.tensorflow.org/install/source   #tensorflow all requirements


# holy grail vid
https://www.youtube.com/watch?v=LxlqmU22uZk&ab_channel=CODEMENTAL&loop=0 #but may be outdated in few years!

# code to run for memory allocation - otherwise tf crashes on gpu
https://www.tensorflow.org/guide/gpu
https://stackoverflow.com/questions/56222435/tf-keras-layers-conv2d-is-not-working-with-keras-backend-set-to-float16